@import "tailwindcss";

@import "tailwindcss";

:root {
  --color-primary: #071A2F;
  --color-secondary: #123B70;
  --color-accent: #00B8D9;

  --color-white: #FFFFFF;
  --color-background: #F5F8FC;
  --color-text: #071A2F;
  --color-text-light: #5B6B7F;

  --radius-card: 12px;
  --radius-button: 8px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  font-family: Arial, sans-serif;
}